%%-*- mode: erlang -*-

{erl_opts, [
            {src_dirs, ["./src"]},
            {parse_transform, lager_transform}
           ]}.

{deps, [
        {lager,  "2.0.*", {git, "git://github.com/basho/lager.git", "master"}},
        {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", "master" }}
        %% , {riak_pb, ".*", {git, "git://github.com/basho/riak_pb", {tag,"2.0.0.16"}  }}
]}.
%% {plugins, [riak_pb_msgcodegen]}.
{require_otp_vsn, "R1[456]"}.
